body {
    background-image: url('leafy backgroundnew.jpg');
    background-size: cover; 
    margin:15px;
    font-family: 'roboto', sans-serif;
    padding: 40px;
    
}

.head1 {
    text-align: center;
    margin-top: 20px;
    font-family: 'roboto', sans-serif;
    font-size: 36px;
    color:rgb(37, 36, 36);

}

.profile-pic {
    position: absolute;
    top: 1px;
    left: 10px;
    width: 140px;
    height: 150px;
    border-radius: 70%;
    border: 3px solid rgb(214, 187, 187);
    box-shadow: 2px 2px 8px gray;
}
.profile-pic:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;


}

.main{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.main a { 
    background-color: rgba(11, 55, 13, 0.482); 
    color: rgb(255, 255, 255); 
    font-size: 12px; 
    letter-spacing: 2px; 
    font-weight: bold; 
    padding: 0.7em 2em; 
    border: 3px solid rgb(239, 239, 239); 
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;

}

.main a:hover{
    transform: scale(1.1);
}


.welcome { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 40vh; 
    font-size: 25px; 
    text-align: center; 
    color: rgb(255, 252, 252);
    background-color: rgba(250, 235, 215, 0.361);
    border: 3px solid white;
    
}

.address {
    text-align:center;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translatex(-50%);
    text-align: center;
    color: rgb(241, 231, 37);

}

.div1 {
    border: 4px solid rgba(255, 255, 255, 0.848);
    position: relative;
    padding: 20px;
    background-color: rgba(250, 235, 215, 0.5);
}

.div1 img {

   vertical-align: middle;
    top: 1px;
    left: 10px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid rgb(214, 187, 187);
    box-shadow: 2px 2px 8px gray;
    transition: transform 0.3s ease;
    cursor:pointer;

}

.div1 img:hover {
 transform: scale(1.1);
    
}



.Favorite {
    border: 3px solid rgb(214, 214, 214);
    padding: 15px;
    margin: 20px auto;
    width: 60%;
    background-color: rgba(3, 91, 37, 0.43); 
    color: white;
    border-radius: 10px;
    font-size: large;
    font-style:italic;
}

.Sentence {
    color:aliceblue;
    text-align: justify;
    font-family: 'roboto', sans-serif;
    font-size: large;
}

.Sentence-center {
    color:aliceblue;
    text-align: center;
    font-family: 'roboto', sans-serif;
}

.home-a {

    background-color: rgba(11, 55, 13, 0.482); 
    color: rgb(255, 255, 255); 
    font-size: 12px; 
    letter-spacing: 2px; 
    font-weight: bold; 
    padding: 0.7em 2em; 
    border: 3px solid rgb(239, 239, 239); 
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
   
}

.home-a:hover {
 transform: scale(1.1);
}

.indigo {
  color: indigo;
}

.green {
  color: rgb(18, 249, 18);
}

.black {
  color: black;
}

.navy {
  color: navy;
}

.photos {
    border: 3px solid rgb(161, 161, 161);
}

.circle { 
     
    gap: 15px; 
    justify-content: center;
}
.circle img{

    border: 3px solid white;
    border-radius: 18px;
    justify-content: center;
    gap: 15px;
    width:250px;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;

}

.circle img:hover {
    transform: scale(1.1);
}